@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject Conesoft.Hosting.ApplicationBuildHash abh;

<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <base href="/" />

    <link rel="icon" type="image/png" sizes="512x512" href="/icons/icon.png" />
    <link rel="manifest" href="/pwa/site.webmanifest" />

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

    <title>Homepage of Davepermen</title>
    <meta name="description" content="Personal Website of Davepermen, with Contact Information">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Homepage of Davepermen">
    <meta property="og:description" content="Personal Website of Davepermen, with Contact Information">
    <meta property="og:image" content="https://davepermen.net/preview.jpg?v=ngj4y2rGxl">

    <link rel="stylesheet" href="/style.css" asp-append-version="true" type="text/css">

    <link rel="preload" href="/Contact%20of%20davepermen.svg" as="image" />
</head>
<body>
    <h1>davepermen.net</h1>

    <main>
        <section>
            <header>me</header>
            <span>my name is David Spörri</span>
            <span>I'm living in Switzerland</span>
            <span>you can find me on <a rel='me' href='https://twitter.com/davepermen' target="_blank">twitter</a></span>
            <span>and on <a rel='me' href='https://mastodon.social/@@davepermen' target="_blank">mastodon</a></span>
            <span>I'm available on <a rel='me' href='https://bsky.app/profile/davepermen.net'>bluesky</a> as well</span>
            <span>or drop me a mail at <a href='mailto:&#100;&#097;&#118;&#101;&#112;&#101;&#114;&#109;&#101;&#110;&#064;&#104;&#111;&#116;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;'>&#100;&#097;&#118;&#101;&#112;&#101;&#114;&#109;&#101;&#110;&#064;&#104;&#111;&#116;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></span>
            <span>you can even reach me on <a href='tel:&#048;&#048;&#052;&#049;&#055;&#057;&#055;&#055;&#051;&#050;&#049;&#048;&#049;'>+&#052;&#049;&#032;(&#048;)&#055;&#057;&#032;&#055;&#055;&#051;&#032;&#050;&#049;&#032;&#048;&#049;</a></span>
            <br />
            <span>scan or save full <button popovertarget="contact of davepermen">contact info</button></span>

            <div popover id="contact of davepermen">
                <section>
                    <header>qr code to scan</header>
                    <img title="qr code of contact of davepermen" src="/Contact%20of%20davepermen.svg">
                </section>

                <section>
                    <header>or vcard to download</header>
                    <a href="/Contact%20of%20davepermen.vcf">contact of davepermen.vcf</a>
                </section>
            </div>
        </section>
        <section>
            <header>music</header>
            <span>I'm on <a rel='me' href='https://soundcloud.com/davepermen' target="_blank">soundcloud</a></span>
            <span>and on <a rel='me' href='https://www.mixcloud.com/davepermen' target="_blank">mixcloud</a></span>
            <span>you can even find me on <a rel='me' href='https://davepermen.bandcamp.com' target="_blank">bandcamp</a></span>
        </section>
        <section>
            <header>code</header>
            <span>I'm on <a rel='me' href='http://github.com/davepermen' target="_blank">github</a></span>
        </section>
    </main>

    <footer>
        <span>want to donate? <a rel='me' href='https://www.paypal.me/davepermen' target="_blank">click here</a></span>
        <span>&copy; David Spörri @DateTime.Today.Year</span>
        <span>.net @Environment.Version.Major compiled with hash @abh.CompiledHash</span>
        <a href="https://www.republik.ch/2019/04/08/die-schoenste-klimagrafik-der-welt" target="_blank">
            <img src="/die-schoenste-klimagrafik-der-welt.svg" asp-append-version="true" alt="Wärmestreifen Schweiz" />
        </a>
    </footer>
</body>
</html>
