html {
    background: #000;
    color: #fff;
    font-family: system-ui, sans-serif;
    font-weight: 100;
    width: 100%;
    min-height: 100%;
    user-select: none;
    cursor: default;
    background: radial-gradient(circle, transparent 10%, black 110%), url('/background.jpg');
    background-size: cover;
    background-position: 100% center;
    background-attachment: fixed;
    font-size: calc(min(4.8vw,3.5vh));
    overflow-x: clip;
}

* {
    cursor: default;
    box-sizing: border-box;
    touch-action: manipulation;
    display: grid;
    margin: 0;
    line-height: 1em;
}

script, head, style {
    display: none;
}

span, span * {
    display: inline;
}

body {
    width: 100%;
    min-height: 100%;
    grid-area: 1 / 1;
    align-self: center;
    justify-self: center;
    text-shadow: 0px 0.25rem 0.5rem #000, 0px 0.25rem 0.5rem #000;
    grid-template:
        ".      header .     " auto
        ".      main   .     " min-content
        "footer footer footer" auto
        / 1fr max-content 1fr;
    grid-gap: 1rem 0;
}

    body > h1 {
        grid-area: header;
        place-content: end start;
    }

    body > main {
        grid-area: main;
    }

    body > footer {
        grid-area: footer;
    }

main a:hover {
    text-shadow: 0px 0.25rem 1rem #555, 0px 0.25rem 1rem #555;
}

main {
    grid-gap: 1rem;
}

    main h1 {
        font-size: inherit;
    }

footer {
    align-self: flex-end;
    justify-self: stretch;
    font-size: 0.7rem;
    opacity: 0.7;
}

    footer span {
        justify-self: end;
        padding-inline-end: 0.25em;
    }

        footer span:has(+ :not(span)) {
            padding-block-end: 0.25em;
        }

    footer > a, footer > a * {
        justify-self: stretch;
        height: 1rem;
    }

a, a * {
    color: inherit;
    transition: text-shadow 0.25s ease-in-out;
    cursor: pointer;
}